@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/img/aa.jpg" class="img-responsive" style="height:500px;width:100%" />

    </div>
</div>
<div class="row">

    <h2>Software Requirement System</h2>
    <p style="text-align:justify;">
        A software requirements specification (SRS) is a description of a software system to be developed. It is modeled after business requirements specification (CONOPS), also known as a stakeholder requirements specification (StRS).[citation needed] The software requirements specification lays out functional and non-functional requirements, and it may include a set of use cases that describe user interactions that the software must provide to the user for perfect interaction.
    </p>


</div>